{% extends "partials/_base.html" %}
{% load static %}
{% block content %}

   <!--Page Title-->
   <section class="page-title text-center style-two">
    <div class="pattern-layer" style="background-image: url(assets/images/shape/shape-62.png);"></div>
    <div class="auto-container">
        <div class="content-box">
            <ul class="bread-crumb clearfix">
                <li><a href="{% url 'index' %}"><h1>Home</h1></a></li>
               
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->




    <!-- about-style-three -->
    <section class="about-style-three">
        <div class="auto-container">
            <div class="row clearfix">
                <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                    <div id="image_block_02">
                        <div class="image-box">
                            {% for x in about %}
                            <figure class="image image-1 wow slideInLeft" data-wow-delay="300ms" data-wow-duration="1500ms"><img src="{{x.image.url}}" alt=""></figure>
                            <figure class="image image-2 wow slideInLeft" data-wow-delay="00ms" data-wow-duration="1500ms"><a href="" class="lightbox-image"><img src="" alt=""></a></figure>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                    <div id="content_block_05">
                        <div class="content-box">
                            {% for x in about %}
                            
                            <div class="sec-title text-left">
                                <p>About</p>
                                <h2>{{x.title}}</h2>
                               
                            </div>
                            <div class="text">
                                <p>{{x.text}}</p>
                                <!-- <p>{{x.text}}</p> -->
                            </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about-style-three end -->




    <!-- chooseus-style-two -->
    <section class="chooseus-style-two bg-color-3">
        <div class="bg-layer" style="background-image: url(assets/images/background/choose-bg.png);"></div>
        <div class="auto-container">
            {% for x in choose %}
            
            <div class="title-inner mb-35 clearfix">
                <div class="sec-title light text-left pull-left">
                    <p>Why Choose Us</p>
                    <h2>Reason for people choosing our company</h2>
                    <div class="decor" style="background-image: url(assets/images/icons/decor-5.png);"></div>
                </div>
                <div class="text pull-right">
                    <p>{{x.short_description}}</p>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-lg-4 col-md-6 col-sm-12 single-column">
                    <div class="single-item wow slideInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <h4>{{x.title}}</h4>
                            <div class="box">
                                <div class="icon-box"><i class="flaticon-global"></i></div>
                                <p>{{x.description}}</p>
                            </div>
                        </div>
                    </div>
                </div>
             
            </div>
            {% endfor %}

        </div>
    </section>
    <!-- chooseus-style-two end -->










    <!-- skills-section -->
    <section class="skills-section">
        <div class="pattern-layer" style="background-image: url(assets/images/shape/shape-4.png);"></div>
        <div class="auto-container">
            <div class="row clearfix">
                <div class="col-lg-6 col-md-6 col-sm-12 image-column">
                    <div class="image-box wow slideInLeft" data-wow-delay="200ms" data-wow-duration="1500ms">
                        <figure class="image js-tilt"><img src="{% static 'assets/images/resource/illastration-1.png' %}" alt=""></figure>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 content-column">
                    <div id="content_block_02">
                        <div class="content-box">
                            <div class="sec-title text-left">
                                <p>Skills & Facts</p>
                                <h2>We keep our self updated with latest trends</h2>
                                <div class="decor" style="background-image: url(assets/images/icons/decor-1.png);"></div>
                            </div>
                            <div class="text">
                                <p>As a solution providing company we offer a  range consulting, development quality testing services with 100% satisfaction.</p>
                            </div>
                            <div class="inner-box">
                                <div class="progress-box">
                                    <h5>Data Consulting</h5>
                                    <div class="icon-box"><i class="flaticon-chat"></i></div>
                                    <div class="bar">
                                        <div class="bar-inner count-bar" data-percent="62%"><div class="count-text">62%</div></div>
                                    </div>
                                </div>
                                <div class="progress-box">
                                    <h5>Big Data & BI</h5>
                                    <div class="icon-box"><i class="flaticon-cloud-computing"></i></div>
                                    <div class="bar">
                                        <div class="bar-inner count-bar" data-percent="89%"><div class="count-text">89%</div></div>
                                    </div>
                                </div>
                                <div class="progress-box">
                                    <h5>Predictive Analysis</h5>
                                    <div class="icon-box"><i class="flaticon-analysis-1"></i></div>
                                    <div class="bar">
                                        <div class="bar-inner count-bar" data-percent="75%"><div class="count-text">75%</div></div>
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- skills-section end -->







 <!--Page Title-->
 <section class="page-title text-center style-two">
    <div class="pattern-layer" style="background-image: url(assets/images/shape/shape-62.png);"></div>
    <div class="auto-container">
        <div class="content-box" >
            <ul class="bread-crumb clearfix">
                <li><a href="index.html"><h1>Blog</h1></a></li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->
<!-- blog-classic-grid -->
<section class="blog-classic-grid">
    <div class="auto-container">
        <div class="row clearfix">
            <div class="col-lg-4 col-md-6 col-sm-12 news-block">
                <div class="news-block-one wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <figure class="image-box">
                            <img src="{% static 'assets/images/news/news-6.jpg' %}" alt="">
                            <a href="{% static 'assets/images/news/news-6.jpg' %}" class="lightbox-image" data-fancybox="gallery"><i class="flaticon-zoom"></i></a>
                        </figure>
                        <div class="lower-content">
                            <div class="file-box"><i class="far fa-folder-open"></i><p>Data Engineering</p></div>
                            <div class="title-box">
                                <div class="post-date"><p>02</p><span>Jan</span></div>
                                <h4><a href="blog-details.html">Naxly Named as a Global Leader in Big Data</a></h4>
                            </div>
                            <div class="link"><a href="{% url 'blog' %}" class="btn-style-four">Read More<span>+</span></a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 news-block">
                <div class="news-block-one wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <figure class="image-box">
                            <img src="{% static 'assets/images/news/news-2.jpg' %}" alt="">
                            <a href="{% static 'assets/images/news/news-2.jpg' %}" class="lightbox-image" data-fancybox="gallery"><i class="flaticon-zoom"></i></a>
                        </figure>
                        <div class="lower-content">
                            <div class="file-box"><i class="far fa-folder-open"></i><p>ML Consulting</p></div>
                            <div class="title-box">
                                <div class="post-date"><p>01</p><span>Jan</span></div>
                                <h4><a href="blog-details.html">The Current State of Artificial Intelligence Infographic.</a></h4>
                            </div>
                            <div class="link"><a href="{% url 'blog' %}" class="btn-style-four">Read More<span>+</span></a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 news-block">
                <div class="news-block-one wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <figure class="image-box">
                            <img src="{% static 'assets/images/news/news-1.jpg' %}" alt="">
                            <a href="{% static 'assets/images/news/news-1.jpg' %}" class="lightbox-image" data-fancybox="gallery"><i class="flaticon-zoom"></i></a>
                        </figure>
                        <div class="lower-content">
                            <div class="file-box"><i class="far fa-folder-open"></i><p>Data Strategy</p></div>
                            <div class="title-box">
                                <div class="post-date"><p>31</p><span>Dec</span></div>
                                <h4><a href="blog-details.html">Naxly as the Winners in Global Agency Awards</a></h4>
                            </div>
                            <div class="link"><a href="{% url 'blog' %}" class="btn-style-four">Read More<span>+</span></a></div>
                        </div>
                    </div>
                </div>
            </div>
          
        </div>
        <div class="pagination-wrapper text-center">
            <ul class="pagination clearfix">
                <li><a href="project-2.html"><i class="fas fa-angle-double-left"></i>&nbsp;&nbsp;Prev</a></li>
                <li><a href="project-2.html" class="active">1</a></li>
                <li><a href="project-2.html">2</a></li>
                <li><a href="project-2.html">3</a></li>
                <li><a href="project-2.html">Next&nbsp;&nbsp;<i class="fas fa-angle-double-right"></i></a></li>
            </ul>
        </div>
    </div>
</section>
<!-- blog-classic-grid end -->

 
    <!-- news-section -->
    <section class="news-section style-two style-three">
        <div class="auto-container">
            <div class="upper-box clearfix mb-40">
                <div class="sec-title text-left pull-left">
                    <p>News & Updates</p>
                    <h2>Company news & updates</h2>
                    <div class="decor" style="background-image: url(assets/images/icons/decor-1.png);"></div>
                </div>
               
            </div>
            <div class="row clearfix">
                <div class="col-lg-4 col-md-6 col-sm-12 news-block">
                    <div class="news-block-one wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <figure class="image-box">
                                <img src="{% static 'assets/images/news/news-1.jpg' %}" alt="">
                                <a href="{% static 'assets/images/news/news-1.jpg' %}" class="lightbox-image" data-fancybox="gallery"><i class="flaticon-zoom"></i></a>
                            </figure>
                            <div class="lower-content">
                                <div class="file-box"><i class="far fa-folder-open"></i><p>Data Engineering</p></div>
                                <div class="title-box">
                                    <div class="post-date"><p>05</p><span>Jan</span></div>
                                    <h4><a href="blog-details.html">Naxly Named as a Global Leader in Big Data</a></h4>
                                </div>
                                <div class="text">
                                    <p>Equal blame belongs too those who fail in their through weakness will shrinking.</p>
                                </div>
                                <div class="link"><a href="{% url 'news-detail' %}"><i class="flaticon-next"></i>Read More</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 news-block">
                    <div class="news-block-one wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <figure class="image-box">
                                <img src="{% static 'assets/images/news/news-2.jpg' %}" alt="">
                                <a href="{% static 'assets/images/news/news-2.jpg' %}" class="lightbox-image" data-fancybox="gallery"><i class="flaticon-zoom"></i></a>
                            </figure>
                            <div class="lower-content">
                                <div class="file-box"><i class="far fa-folder-open"></i><p>ML Consulting</p></div>
                                <div class="title-box">
                                    <div class="post-date"><p>01</p><span>Jan</span></div>
                                    <h4><a href="blog-details.html">The Current State of Artificial Intelligence Infographic.</a></h4>
                                </div>
                                <div class="text">
                                    <p>When our power choice untrammelled and then prevents our being able pleasure.</p>
                                </div>
                                <div class="link"><a href="{% url 'news-detail' %}"><i class="flaticon-next"></i>Read More</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 news-block">
                    <div class="news-block-one wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <figure class="image-box">
                                <img src="{% static 'assets/images/news/news-3.jpg' %}" alt="">
                                <a href="{% static 'assets/images/news/news-3.jpg' %}" class="lightbox-image" data-fancybox="gallery"><i class="flaticon-zoom"></i></a>
                            </figure>
                            <div class="lower-content">
                                <div class="file-box"><i class="far fa-folder-open"></i><p>Data Strategy</p></div>
                                <div class="title-box">
                                    <div class="post-date"><p>25</p><span>Dec</span></div>
                                    <h4><a href="blog-details.html">Naxly as the Winners in Global Agency Awards</a></h4>
                                </div>
                                <div class="text">
                                    <p>Obligations of business it will frequently occur that pleasures have to be repudiated.</p>
                                </div>
                                <div class="link"><a href="{% url 'news' %}"><i class="flaticon-next"></i>Read More</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- news-section end -->

    <hr>
    
    <!-- funfact-style-two -->
   
    <section class="funfact-style-two">
        
        <div class="auto-container">
            <h1>Counter</h1>
            <div class="row clearfix">
                
                <div class="col-lg-3 col-md-6 col-sm-12 counter-block "> 
                    <div class="counter-block-two wow slideInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                       
                        <div class="inner-box">
                            
                            <div class="count-outer count-box">
                                
                                <span class="count-text" data-speed="1500" data-stop="3.5">0</span>k
                                
                            </div>
                            <h4>Projects Completed</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 counter-block">
                    <div class="counter-block-two wow slideInUp" data-wow-delay="100ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="count-outer count-box">
                                <span class="count-text" data-speed="1500" data-stop="2.8">0</span>k
                            </div>
                            <h4>Industrires Served</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 counter-block">
                    <div class="counter-block-two wow slideInUp" data-wow-delay="200ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="count-outer count-box">
                                <span class="count-text" data-speed="1500" data-stop="139">0</span>
                            </div>
                            <h4>Expert Team Mates</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 counter-block">
                    <div class="counter-block-two wow slideInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="count-outer count-box">
                                <span class="count-text" data-speed="1500" data-stop="14">0</span>m
                            </div>
                            <h4>Happy Customers</h4>
                        </div>
                    
                    </div>
                </div>
            
            </div>
        </div>
    </section>
    <!-- funfact-style-two end -->
    <hr>
    <!-- contact-section -->
    <section class="contact-section">
       

        <div class="auto-container">
            <h1>Contact</h1>
            <div class="row clearfix">
               
                <div class="col-lg-12 col-md-12 col-sm-12 content-column">
                    <div id="content_block_09">
                        <div class="content-box">
                            <form method="post" action="assets/inc/sendemail.php" id="contact-form" class="default-form"> 
                                <div class="form-group">
                                    <label><i class="far fa-user"></i>Your Name</label>
                                    <input type="text" name="username" placeholder="Enter name here" required="">
                                </div>
                                <div class="form-group">
                                    <label><i class="far fa-envelope"></i>Email Address</label>
                                    <input type="email" name="email" placeholder="Email Address" required="">
                                </div>
                                <div class="form-group">
                                    <label><i class="far fa-user"></i>Subject</label>
                                    <input type="text" name="subject" placeholder="Subject" required="">
                                </div>
                                <div class="form-group">
                                    <label><i class="fas fa-text-height"></i>Message</label>
                                    <textarea name="message" placeholder="Message goes here"></textarea>
                                </div>
                                <div class="form-group">
                                    <button class="theme-btn style-nine" type="submit" name="submit-form">Send Your Message</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
              
                <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                    <div class="image-box wow slideInRight" data-wow-delay="00ms" data-wow-duration="1500ms">
                        <figure class="image js-tilt"><img src="assets/images/resource/illastration-6.png" alt=""></figure>
                    </div>
                </div>
            </div>
            
        </div>
    </section>
    <!-- contact-section end -->
    <hr>

    {% endblock %}