{% extends "partials/_base.html" %}
{% load static %}
{% block content %}



<!--Page Title-->
<section class="page-title text-center style-two">
    <div class="pattern-layer" style="background-image: url(assets/images/shape/shape-62.png);"></div>
    <div class="auto-container">
        <div class="content-box">
            <ul class="bread-crumb clearfix">
                <li><a href="{% url 'index' %}">
                        <h1>Team</h1>
                    </a></li>

            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->

<!-- team-style-two -->
<section class="team-style-two bg-color-1">
    <div class="auto-container">
        <div class="row clearfix">
            <div class="col-lg-3 col-md-6 col-sm-12 team-block">
                <div class="team-block-two wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <div class="image-box">
                            <img src="{{x.image.url}}" alt="">
                            <ul class="contact-box clearfix">
                                <li class="email">
                                    <a href="mailto:carlene@naxly.com">
                                        <i class="flaticon-gmail"></i>
                                        <span>elliot@info.com</span>
                                    </a>
                                </li>
                                <li class="social-links">
                                    <a href="index-3.html" class="share"><i class="flaticon-share-1"></i></a>
                                    <ul class="list clearfix">
                                        <li><a href="index-3.html"><i class="fab fa-skype"></i></a></li>
                                        <li><a href="index-3.html"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="index-3.html"><i class="fab fa-facebook-f"></i></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="lower-content">
                            <h4><a href="index-3.html"></a></h4>
                            <span class="designation"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- team-style-two end -->


{% endblock %}