{% extends "partials/_base.html" %}
{% load static %}
{% block content %}




   <!--Page Title-->
   <section class="page-title text-center style-two">
    <div class="pattern-layer" style="background-image: url(assets/images/shape/shape-62.png);"></div>
    <div class="auto-container">
        <div class="content-box">
            <h1>Elements</h1>
            <ul class="bread-crumb clearfix">
                <li><a href="index.html">Work</a></li>
               
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->


    <!-- work-process -->
    <section class="work-process sec-pad">
        <div class="auto-container">
            <div class="row clearfix">
                <div class="col-lg-4 col-md-6 col-sm-12 work-block">
                    {% for x in work %}
                    <div class="work-block-one wow slideInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="icon-box">
                                <i class="flaticon-big-data"></i>
                                <div class="count">01</div>
                                <div class="bg-pattern" style="background-image:  url( {% static 'assets/images/Screenshot_4.png' %})"></div>
                                <div class="overlay-pattern" style="background-image:  url( {% static 'assets/images/Screenshot_4.png' %})"></div>
                            </div>
                            <h4><a href="index.html">{{x.name}}</a></h4>
                            <p>{{x.description}}</p>
                        </div>
                    </div>   
                    {% endfor %}
                </div>
          
            </div>
        </div>
    </section>
    <!-- work-process end -->


    {% endblock %}