{% extends "partials/_base.html" %}
{% load static %}
{% block content %}


    <!--Page Title-->
    <section class="page-title text-center style-two">
        <div class="pattern-layer" style="background-image: url(assets/images/shape/shape-62.png);"></div>
        <div class="auto-container">
            <div class="content-box">
                <ul class="bread-crumb clearfix">
                    <li><a href="{% url 'index' %}"><h1>Blog</h1></a></li>
                   
                </ul>
            </div>
        </div>
    </section>
    <!--End Page Title-->
    <!-- blog-classic-grid -->
    <section class="blog-classic-grid">
        <div class="auto-container">
            <div class="row clearfix">
                <div class="col-lg-4 col-md-6 col-sm-12 news-block">
                    <div class="news-block-one wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <figure class="image-box">
                                <img src="{% static 'assets/images/news/news-6.jpg' %}" alt="">
                                <a href="{% static 'assets/images/news/news-6.jpg' %}" class="lightbox-image" data-fancybox="gallery"><i class="flaticon-zoom"></i></a>
                            </figure>
                            <div class="lower-content">
                                <div class="file-box"><i class="far fa-folder-open"></i><p>Data Engineering</p></div>
                                <div class="title-box">
                                    <div class="post-date"><p>02</p><span>Jan</span></div>
                                    <h4><a href="blog-details.html">Naxly Named as a Global Leader in Big Data</a></h4>
                                </div>
                                <div class="link"><a href="blog-details.html" class="btn-style-four">Read More<span>+</span></a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 news-block">
                    <div class="news-block-one wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <figure class="image-box">
                                <img src="{% static 'assets/images/news/news-2.jpg' %}" alt="">
                                <a href="{% static 'assets/images/news/news-2.jpg' %}" class="lightbox-image" data-fancybox="gallery"><i class="flaticon-zoom"></i></a>
                            </figure>
                            <div class="lower-content">
                                <div class="file-box"><i class="far fa-folder-open"></i><p>ML Consulting</p></div>
                                <div class="title-box">
                                    <div class="post-date"><p>01</p><span>Jan</span></div>
                                    <h4><a href="blog-details.html">The Current State of Artificial Intelligence Infographic.</a></h4>
                                </div>
                                <div class="link"><a href="blog-details.html" class="btn-style-four">Read More<span>+</span></a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 news-block">
                    <div class="news-block-one wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <figure class="image-box">
                                <img src="{% static 'assets/images/news/news-1.jpg' %}" alt="">
                                <a href="{% static 'assets/images/news/news-1.jpg' %}" class="lightbox-image" data-fancybox="gallery"><i class="flaticon-zoom"></i></a>
                            </figure>
                            <div class="lower-content">
                                <div class="file-box"><i class="far fa-folder-open"></i><p>Data Strategy</p></div>
                                <div class="title-box">
                                    <div class="post-date"><p>31</p><span>Dec</span></div>
                                    <h4><a href="blog-details.html">Naxly as the Winners in Global Agency Awards</a></h4>
                                </div>
                                <div class="link"><a href="blog-details.html" class="btn-style-four">Read More<span>+</span></a></div>
                            </div>
                        </div>
                    </div>
                </div>
              
            </div>
            <div class="pagination-wrapper text-center">
                <ul class="pagination clearfix">
                    <li><a href="project-2.html"><i class="fas fa-angle-double-left"></i>&nbsp;&nbsp;Prev</a></li>
                    <li><a href="project-2.html" class="active">1</a></li>
                    <li><a href="project-2.html">2</a></li>
                    <li><a href="project-2.html">3</a></li>
                    <li><a href="project-2.html">Next&nbsp;&nbsp;<i class="fas fa-angle-double-right"></i></a></li>
                </ul>
            </div>
        </div>
    </section>
    <!-- blog-classic-grid end -->

    {% endblock %}