{% extends "partials/_base.html" %}
{% load static %}
{% block content %}

    <!-- Mobile Menu  -->
    <div class="mobile-menu">
        <div class="menu-backdrop"></div>
        <div class="close-btn"><i class="fas fa-times"></i></div>
        
        <nav class="menu-box">
            <div class="nav-logo"><a href="index.html"><img src="{% static 'assets/images/logo.png' %}" alt="" title=""></a></div>
            <div class="menu-outer"><!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header--></div>
            <div class="contact-info">
                <h4>Contact Info</h4>
                <ul>
                    <li>Chicago 12, Melborne City, USA</li>
                    <li><a href="tel:+8801682648101">+88 01682648101</a></li>
                    <li><a href="mailto:info@example.com">info@example.com</a></li>
                </ul>
            </div>
            <div class="social-links">
                <ul class="clearfix">
                    <li><a href="index.html"><span class="fab fa-twitter"></span></a></li>
                    <li><a href="index.html"><span class="fab fa-facebook-square"></span></a></li>
                    <li><a href="index.html"><span class="fab fa-pinterest-p"></span></a></li>
                    <li><a href="index.html"><span class="fab fa-instagram"></span></a></li>
                    <li><a href="index.html"><span class="fab fa-youtube"></span></a></li>
                </ul>
            </div>
        </nav>
    </div><!-- End Mobile Menu -->


    <!--Page Title-->
    <section class="page-title text-center style-two">
        <div class="pattern-layer" style="background-image: url(assets/images/shape/shape-62.png);"></div>
        <div class="auto-container">
            <div class="content-box">
                <h1>Elements</h1>
                <ul class="bread-crumb clearfix">
                    <li><a href="index.html">Home</a></li>
                    <li><span>\\</span></li>
                    <li>Case 03</li>
                </ul>
            </div>
        </div>
    </section>
    <!--End Page Title-->


    <!-- case-style-three -->
    <section class="case-style-three bg-color-1">
        <div class="auto-container">
            <div class="row clearfix">
                <div class="col-lg-4 col-md-6 col-sm-12 case-block">
                    <div class="case-block-two wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <figure class="image-box">
                                <img src="{% static 'assets/images/gallery/gallery-4.jpg' %}" alt="">
                                <div class="client-box">
                                    <span>Neuro Jump</span>
                                    <div class="client-logo"><img src="{% static 'assets/images/icons/icon-1.png' %}" alt=""></div>
                                </div>
                                <div class="link"><a href="project-details.html"><i class="flaticon-hyperlink"></i></a></div>
                                <div class="overlay-layer"></div>
                            </figure>
                            <div class="lower-content">
                                <div class="box">
                                    <div class="icon-box"><i class="flaticon-vision"></i></div>
                                    <p>Banking & Finance</p>
                                    <h4><a href="project-details.html">Invoice data capture</a></h4>
                                </div>
                                <div class="text">
                                    <p>Equal blame belongs too those who fail in their through weakness.</p>
                                </div>
                                <div class="link"><a href="index-3.html"><i class="flaticon-next"></i>Read More</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 case-block">
                    <div class="case-block-two wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <figure class="image-box">
                                <img src="{% static 'assets/images/gallery/gallery-5.jpg' %}" alt="">
                                <div class="client-box">
                                    <span>Neuro Jump</span>
                                    <div class="client-logo"><img src="{% static 'assets/images/icons/icon-2.png' %}" alt=""></div>
                                </div>
                                <div class="link"><a href="project-details.html"><i class="flaticon-hyperlink"></i></a></div>
                                <div class="overlay-layer"></div>
                            </figure>
                            <div class="lower-content">
                                <div class="box">
                                    <div class="icon-box"><i class="flaticon-vision"></i></div>
                                    <p>Healthcare</p>
                                    <h4><a href="project-details.html">Big data processing</a></h4>
                                </div>
                                <div class="text">
                                    <p>To take trivial example, which of us ever undertakes laborios physical.</p>
                                </div>
                                <div class="link"><a href="index-3.html"><i class="flaticon-next"></i>Read More</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 case-block">
                    <div class="case-block-two wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <figure class="image-box">
                                <img src="{% static 'assets/images/gallery/gallery-6.jpg' %}" alt="">
                                <div class="client-box">
                                    <span>Neuro Jump</span>
                                    <div class="client-logo"><img src="{% static 'assets/images/icons/icon-3.png' %}" alt=""></div>
                                </div>
                                <div class="link"><a href="project-details.html"><i class="flaticon-hyperlink"></i></a></div>
                                <div class="overlay-layer"></div>
                            </figure>
                            <div class="lower-content">
                                <div class="box">
                                    <div class="icon-box"><i class="flaticon-vision"></i></div>
                                    <p>Marketing</p>
                                    <h4><a href="project-details.html">Network implementation</a></h4>
                                </div>
                                <div class="text">
                                    <p>Know pursue works rationally encounter consequences again desires.</p>
                                </div>
                                <div class="link"><a href="index-3.html"><i class="flaticon-next"></i>Read More</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- case-style-three end -->


    {% endblock %}