{% extends "partials/_base.html" %}
{% load static %}
{% block content %}

    <!-- Mobile Menu  -->
    <div class="mobile-menu">
        <div class="menu-backdrop"></div>
        <div class="close-btn"><i class="fas fa-times"></i></div>
        
        <nav class="menu-box">
            <div class="nav-logo"><a href="index.html"><img src="{% static 'assets/images/logo.png' %}" alt="" title=""></a></div>
            <div class="menu-outer"><!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header--></div>
            <div class="contact-info">
                <h4>Contact Info</h4>
                <ul>
                    <li>Chicago 12, Melborne City, USA</li>
                    <li><a href="tel:+8801682648101">+88 01682648101</a></li>
                    <li><a href="mailto:info@example.com">info@example.com</a></li>
                </ul>
            </div>
            <div class="social-links">
                <ul class="clearfix">
                    <li><a href="index.html"><span class="fab fa-twitter"></span></a></li>
                    <li><a href="index.html"><span class="fab fa-facebook-square"></span></a></li>
                    <li><a href="index.html"><span class="fab fa-pinterest-p"></span></a></li>
                    <li><a href="index.html"><span class="fab fa-instagram"></span></a></li>
                    <li><a href="index.html"><span class="fab fa-youtube"></span></a></li>
                </ul>
            </div>
        </nav>
    </div><!-- End Mobile Menu -->


    <!--Page Title-->
    <section class="page-title text-center style-two">
        <div class="pattern-layer" style="background-image: url(assets/images/shape/shape-62.png);"></div>
        <div class="auto-container">
            <div class="content-box">
                <h1>Elements</h1>
                <ul class="bread-crumb clearfix">
                    <li><a href="index.html">Home</a></li>
                    <li><span>\\</span></li>
                    <li>Choose Us 03</li>
                </ul>
            </div>
        </div>
    </section>
    <!--End Page Title-->


    <!-- chooseus-style-three -->
    <section class="chooseus-style-three sec-pad">
        <div class="auto-container">
            <div class="row clearfix">
                <div class="col-lg-4 col-md-6 col-sm-12 inner-column">
                    <div class="inner-box">
                        <div class="sec-title text-left">
                            <p>Why Choose Us</p>
                            <h2>Reason for choosing</h2>
                            <div class="decor" style="background-image: url(assets/images/icons/decor-1.png);"></div>
                        </div>
                        <div class="single-item">
                            <h3>Value for Results</h3>
                            <div class="box">
                                <div class="icon-box"><i class="flaticon-analysis"></i></div>
                                <p>Except to obtain some advantage from who has any right to find.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 inner-column">
                    <div class="inner-box">
                        <div class="single-item">
                            <h3>Global Experience</h3>
                            <div class="box">
                                <div class="icon-box"><i class="flaticon-global"></i></div>
                                <p>Nor again is there anyone who loves or pursues or desires</p>
                            </div>
                        </div>
                        <div class="single-item">
                            <h3>High-Quality Results</h3>
                            <div class="box">
                                <div class="icon-box"><i class="flaticon-medal"></i></div>
                                <p>This mistakens idea denouncings and was born complete system.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- chooseus-style-three end -->


    {% endblock %}