{% extends "partials/_base.html" %}
{% load static %}
{% block content %}




    <!-- chooseus-section -->
    <section class="chooseus-section">
        <div class="auto-container">
            <div class="sec-title text-center style-two">
                <p>Why Choose Us</p>
                <h2>Reason for people choose us</h2>
                <div class="decor" style="background-image: url(assets/images/icons/decor-1.png);"></div>
            </div>
            <div class="row clearfix">
                <div class="col-lg-6 col-md-6 col-sm-12 content-column">
                    <div id="content_block_04">
                        <div class="content-box">
                            <div class="single-item">
                                <div class="icon-box">
                                    <div class="bg-layer" style="background-image: url(assets/images/icons/icon-bg-4.png);"></div>
                                    <i class="flaticon-global"></i>
                                </div>
                                <div class="box">
                                    <h4>Global Experience</h4>
                                    <p>Nor again is there anyone who loves or pursues pain of itself, because circumstances.</p>
                                    <a href="index-2.html"><i class="fas fa-arrow-right"></i>More Details</a>
                                </div>
                            </div>
                            <div class="single-item text-right">
                                <div class="icon-box">
                                    <div class="bg-layer" style="background-image: url(assets/images/icons/icon-bg-4.png);"></div>
                                    <i class="flaticon-analysis"></i>
                                </div>
                                <div class="box">
                                    <h4>Value for Results</h4>
                                    <p>Except obtain some advantages from ithas any to find fault with a consequences.</p>
                                    <a href="index-2.html">More Details<i class="fas fa-arrow-left"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 video-column">
                    <div id="video_block_01">
                        <div class="video-inner wow slideInRight" data-wow-delay="00ms" data-wow-duration="1500ms" style="background-image: url(assets/images/background/video-2.jpg);">
                            <div class="pattern-layer" style="background-image: url(assets/images/shape/shape-14.png);"></div>
                            <div class="video-btn">
                                <div class="btn-bg rotate-me" style="background-image: url(assets/images/icons/icon-bg-5.png);"></div>
                                <a href="https://www.youtube.com/watch?v=nfP5N9Yc72A&amp;t=28s" class="lightbox-image" data-caption=""><i class="fas fa-play"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- chooseus-section end -->

    {% endblock %}