{% extends "partials/_base.html" %}
{% load static %}
{% block content %}





    <!-- info-section -->
    <section class="info-section alternate-2">
        <div class="auto-container">
            <div class="inner-container">
                <div class="top-inner mb-55">
                    <div class="sec-title text-center">
                        <p>Contact Information</p>
                        <h2>We’d love to hear from you anytime</h2>
                        <div class="decor" style="background-image: url(assets/images/icons/decor-1.png);"></div>
                    </div>
                    <div class="text text-center">
                        <p>Always holds in these matters to this principle of selection he rejects pleasures to secure other greater<br />pleasures, or else he endures pains to avoid</p>
                    </div>
                </div>
                <div class="info-inner">
                    <div class="row clearfix">
                        <div class="col-lg-4 col-md-6 col-sm-12 info-column">
                            <div class="info-box">
                                <div class="hidden-icon"><i class="flaticon-pin"></i></div>
                                <div class="box">
                                    <div class="icon-box"><i class="flaticon-pin"></i></div>
                                    <h4>Location</h4>
                                    <span>Visit to explore the world</span>
                                </div>
                                <div class="text">
                                    <p>124, Queens walk 2nd cross<br />newyork 5241.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 info-column">
                            <div class="info-box">
                                <div class="hidden-icon"><i class="flaticon-music"></i></div>
                                <div class="box">
                                    <div class="icon-box"><i class="flaticon-music"></i></div>
                                    <h4>Make a Call</h4>
                                    <span>Let’s talk with our experts</span>
                                </div>
                                <div class="text">
                                    <p><a href="tel:4455567890">+44 555 67 890</a></p>
                                    <p>Mon - Fri: 09.00 to 18.00</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12 info-column">
                            <div class="info-box">
                                <div class="hidden-icon"><i class="flaticon-gmail"></i></div>
                                <div class="box">
                                    <div class="icon-box"><i class="flaticon-gmail"></i></div>
                                    <h4>Send a Mail</h4>
                                    <span>Dont’s hesitate to mail</span>
                                </div>
                                <div class="text">
                                    <p><a href="mailto:career@example.com">career@example.com</a></p>
                                    <p><a href="mailto:info@example.com">info@example.com</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- info-section end -->


    <!-- contact-section -->
    <section class="contact-section alternate-2">
        <div class="pattern-layer" style="background-image: url(assets/images/shape/shape-48.png);"></div>
        <div class="auto-container">
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 content-column">
                    <div id="content_block_09">
                        <div class="content-box">
                            <form method="post" action="assets/inc/sendemail.php" id="contact-form" class="default-form"> 
                                <div class="form-group">
                                    <label><i class="far fa-user"></i>Your Name</label>
                                    <input type="text" name="username" placeholder="Enter name here" required="">
                                </div>
                                <div class="form-group">
                                    <label><i class="far fa-envelope"></i>Email Address</label>
                                    <input type="email" name="email" placeholder="Email Address" required="">
                                </div>
                                <div class="form-group">
                                    <label><i class="far fa-user"></i>Subject</label>
                                    <input type="text" name="subject" placeholder="Subject" required="">
                                </div>
                                <div class="form-group">
                                    <label><i class="fas fa-text-height"></i>Message</label>
                                    <textarea name="message" placeholder="Message goes here"></textarea>
                                </div>
                                <div class="form-group">
                                    <button class="theme-btn style-one" type="submit" name="submit-form">Send Your Message</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                    <div class="image-box wow slideInRight" data-wow-delay="00ms" data-wow-duration="1500ms">
                        <figure class="image js-tilt"><img src="assets/images/resource/illastration-6.png" alt=""></figure>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- contact-section end -->


    <!-- google-map-section -->
    <section class="google-map-section">
        <div class="map-column">
            <div class="google-map-area">
                <div 
                    class="google-map" 
                    id="contact-google-map" 
                    data-map-lat="40.712776" 
                    data-map-lng="-74.005974" 
                    data-icon-path="assets/images/icons/map-marker.png"  
                    data-map-title="Brooklyn, New York, United Kingdom" 
                    data-map-zoom="12" 
                    data-markers='{
                        "marker-1": [40.712776, -74.005974, "<h4>Branch Office</h4><p>77/99 New York</p>","assets/images/icons/map-marker.png"]
                    }'>

                </div>
            </div>
        </div>
    </section>
    <!-- google-map-section end -->


    {% endblock %}